page-scan {
    ion-content {
        ion-item-sliding {
            margin-right: auto;
            margin-left: auto;
        }
        .message-container,
        .logs-container {
            white-space: pre-line;
        }
    }
}