page-home {
    ion-content {
        .components-container {
            margin-bottom: 83px;
            ion-item-sliding {
                margin: auto;
                ion-item {
                    .item-inner {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .alpha-edit {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}