page-add {
    .list-md .item-select:last-child {
        border-bottom: 1px solid #dedede;
    }
    ion-content {
        form {
            ion-list.fields-container {
                margin-right: auto;
                margin-left: auto;
            }
            button:last-child {
                margin-bottom: 20px;
            }
        }
    }
}